@model SATWeb.ViewModels.EditarUsuarioViewModel
@{
    ViewData["Title"] = "Editar Usu치rio";
}

<div class="container text-center">
    
    <div class="vidro">

        <h1 class="display-4 mb-0">@ViewData["Title"]</h1>

        @* ------------------------------------ *@
        @* Campo seletor/localizador de usu치rio *@
        @* ------------------------------------ *@

        <div class="my-2 w-50 seletor-localizar">
            <label class="form-label">Selecione o usu치rio</label>
            <select id="selectUsuario" class="form-select">
                <option value="">-- Selecione --</option>
                @foreach (var user in Model.TodosUsuarios)
                {
                    <option value="@user.Id"
                            selected="@(Model.Usuario?.Id == user.Id)">
                        @user.Nome
                    </option>
                }
            </select>

            <button id="btnLocalizar" class="btn btn-dark my-3">Localizar</button>
        </div>

        @* ------------------------------------ *@
        @*              Formulario              *@
        @* ------------------------------------ *@

        <form id="formEditar" method="post" asp-action="Editar" class="formulario" style="display:none;">
            <input type="hidden" asp-for="Usuario.Id" id="inputId"/>

            <div class="mb-3">
                <label asp-for="Usuario.Nome" class="form-label"></label>
                <input asp-for="Usuario.Nome" class="form-control" id="campoNome"/>
                <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Usuario.DepartamentoId" class="form-label">Departamento</label>
                <select asp-for="Usuario.DepartamentoId" class="form-select" id="campoDepartamento">
                    <option value="">-- Selecione --</option>
                    @foreach (var depto in Model.ListaDepartamentos)
                    {
                        <option value="@depto.Id">@depto.Nome</option>
                    }
                </select>
                <span asp-validation-for="Usuario.DepartamentoId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-warning">Atualizar</button>
        </form>

        <div id="erro" class="alert alert-danger mt-3" style="display:none;">
            Ocorreu um erro ao buscar o usu치rio.
        </div>
    </div>

</div>

<script src="~/js/Usuarios/editarUsuario.js" asp-append-version="true"></script>
